.App {
  text-align: center;
  margin-top: 50px;
}

.Help {
  position: absolute;
  top: 25px;
  right: 25px;
}

.help-text {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 60%; 
  max-width: 500px;
  text-align: left;
  z-index: 1000; 
}
.help-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-section {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 10px;
}

.upload-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type="file"] {
  display: none;
}

.button-status-column {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align everything to the left */
  gap: 10px; /* Add space between button, status, and download */
}

.download-button {
  display: flex;
  margin-top: 55px;
  position: absolute;
  font-size: 14px;
}
/* Loader/Spinner Styles */
.loader, .done {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.status {
  display: flex;
  flex-direction: column; /* Stack status messages vertically */
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  position: absolute;
}

.status p {
  font-size: 16px;
}

/* Spinner Animation */
.spinner {
  width: 16px;
  height: 16px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Done Message Styles */
.checkmark {
  font-size: 16px;
  font-weight: bold;
  color: green;
}

.tabs {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.empty-state-message {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 1100px;
  height:550px;
  color: #c9c9c9;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 1px solid #495057;
  justify-content: center;
  align-items: center;
}

.model-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  width: 1100px;
  height: 550px;
  color: #c9c9c9;
  background-color: #1a1a1a;
  border: 1px solid #495057;
  border-radius: 5px;

  padding: 20px;
  padding-top: 0px;
  overflow: hidden;
}

.model-settings form {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* n-column layout */
  gap: 10px;
  width: 100%;
  /* height: 100%; */
}

.model-settings label {
  background-color: #212529;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.model-settings input,
.model-settings select {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #495057;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

.model-settings .model-select {
  grid-column: 3 / span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
}
.model-settings .model-upload {
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid #93a4b6;
  border-radius: 20px;
}
.model-settings .model-upload-output {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.9rem;
}

.model-settings .model-training {
  grid-column: 4 / span 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.model-settings .train-data-upload {
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid #93a4b6;
  border-radius: 20px;
}
.train-data-upload:hover {
  background-color: #343a40;
}
.model-settings .train-files {
  position: absolute;
  top: 100%;
  width: 257px;
  height: 175px;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #93a4b6;
  border-radius: 5px;
  background: #1a1a1a;
  overflow-y: auto;
}
.model-settings .custom-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.model-settings .form-check-label {
  color: #f1f1f1;
}

.model-settings .model-output {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.9rem;
}

.model-settings button { 
  margin-top: auto;
  grid-row: 23; /*change hardcoded number later */
  grid-column: span 4;
  padding: 10px;
  background-color: #212529;
  border: 1px solid #93a4b6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.model-settings button:hover {
  background-color: #343a40;
}

.vis-display {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 25px auto 10px auto;
  width: 100%;
  max-width: 1100px;
}


.selected-files {
  width: 150px;
  flex-shrink: 0;
  height: 550px;
  border: 1px solid;
  border-color: #515151;
  border-radius: 5px;
  background: #1a1a1a;
  overflow-y: auto;
}

.file-names {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 1px;
  overflow: hidden;
}
.file-btn {
  border-width: 0 0 0 0;
  background: none;
}
.file-btn:hover {
  background-color: #333333;
  cursor: pointer;
}

.data-grid {
  flex-grow: 1;
  min-width: 0;
  height: 550px;
}
.data-content {
  min-width: 0;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.vis-control {
  display: flex;
  justify-content: center;
  gap: 50px;
}

select {
  background-color: #1a1a1a;
}

.plot-container {
  border: 1px solid;
  border-color: #515151;
  border-radius: 5px;
  height: 550px;
}